.add-product-button {
    border: none;
    border-radius: 50px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }

.BtnEditar{
    background-color: green;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    cursor: pointer;


}

.BtnEliminar{
    background-color: red;
    border: none;
    cursor: pointer;

    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
}
  